{% extends 'base.html' %}
{% from 'macros.html' import render_job,render_company %}

{% block title %}home{% endblock %}
{% block body %}

  <h2><font color='008844'><center>=== 最新职位 ===</center></font></h2>
  <div class='row'>  
  {% for job in jobs %}
    <div class='col-sm-6 col-md-4'>
       <div class='thumbnail'>
      {{ render_job(job) }}
      </div>
      </div>
    {% endfor %}
  </div>
  <p align='right'><a href="{{ url_for('job.index') }}">查看更多&gt;&gt;&gt;&emsp;</a></p>


  <h2><font color='FF6600'><center>=== 最新企业===</center></font></h2>
  <div class='row'>
    {% for company in companies %}
      <div class='col-sm-6 col-md-4'>
        <div class='thumbnail'>
          <a href="{#{ url_for('company.detail', company_id=company.id) }#}" target='_blank'>
        {{ render_company(company)}}
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
  <p align='right'><a href="{{ url_for('company.index') }}" role='button'>查看更多&gt;&gt;&gt;&emsp;</a></p>

  {% endblock %}
